# Arquivos compilados
*.class
.classpath

# Arquivos específicos
README.txt
src/main/resources/application.properties

# Arquivos de log
*.log

# Arquivos do BlueJ
*.ctxt

# Arquivos temporários J2ME
.mtj.tmp/

# Pacotes
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs de crash da VM
hs_err_pid*

# Pasta target
/target
